body {
    background-color: #025041;
    color: white;
}

.landing-group {
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}

.login-form {
    width: 400px;
    margin: 50px auto;
    font-size: 15px;
}

.login-form form {
    margin-bottom: 15px;
    background: #343a40;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.login-form .btn {
    background-color: #006d57;
    border-color: #006d57;
    width: 90px
}

.login-form .btn:hover {
    background-color: #00856a;
    border-color: #00856a;
}

.login-form a {
    color: #008f72;
}

.login-form a:hover {
    color: #00ffcc;
}

.form-group {
    margin: 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 5px;
}