<!DOCTYPE html>
<html>

<head>
    <title>ToDo - Manage your tasks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <nav class="navbar bg-dark">
        <div class="container">
            <a class="navbar-brand d-flex" href="/todo">
                <img src="../static/img/logo.png" alt="Logo" width="75px" class="d-inline-block align-text-top">
                <text style="color:white; font-size: 50px; margin-left: 10px;">ToDo</text>
            </a>
            <a href="/todo"><i style="font-size: 50px;" class="fa-sharp fa-solid fa-rotate-left"
                    title="Go back"></i></a>
        </div>
    </nav>
    <div class="container">
        <form action="/edit/{{.Id}}" method="post" style="margin-top: 50px;">
            <div class="row">
                <div class="d-flex col" style="margin-top: 20px; margin-right: 20px;">
                    <label for="exampleInputEmail1" class="form-label">Title:</label>
                    <input name="title" type="text" class="form-control" style="margin-left: 20px;" required value="{{.Title}}">
                </div>
                <div class="d-flex col" style="margin-top: 20px;">
                    <label for="exampleInputPassword1" class="form-label">Category:</label>
                    <input name="category" type="text" class="form-control" style="margin-left: 20px;" required value="{{.Category}}">
                </div>
            </div>
            <div style="margin-top: 40px;" class="d-flex">
                <label class="form-label">Text</label>
                <textarea class="form-control" name="text" rows="10" style="margin-left: 20px;" required>{{.Text}}</textarea>
            </div>
            <div style="margin-top: 40px;" class="d-flex justify-content-between">
                <div>
                    <label class="form-label">Due date:</label>
                    <input style="margin-left: 20px;" type="datetime-local" name="due" value="{{.Due}}">
                </div>
                <div>
                    <label class="form-label">Status:</label>
                    <input style="margin-left: 20px;" type="text" name="state" value="{{.State}}">
                </div>
                <button style="float: right;" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>